<section class="our-process-main-section what-guide-section">
  <div class="container">
    <div class="row justify-content-center">
      <h2> {{ section.settings.custom_heading_title }}</h2>

       <h3 class="our_processh3_desk"> We believe quality is rooted in precision. Thus, our team puts every step of the way under the</h3>
      <h3 class="our_processh3_desk2"> microscope before the product gets you.</h3>

      <h3 class="processh3_mobile pt-bottom">We believe quality is rooted in precision. Thus, our team puts every step of the way under the microscope before the product gets you.</h3>



      <div class="col-lg-9 padding-cstm">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-2">
                <div class="our-process-inner-left what-guide-left-colom start">
                  {{ ' Formulation_Built_on_Science.svg' | asset_url | img_tag }}
            </div>
          </div>
               <div class="col-xs-12 col-sm-10">
              <div class="col-xs-12">
                <div class="our-process-inner-right what-guide-left-colom right-colom">
                  <h3> {{ section.settings.custom_text_title2 }}</h3>
                  <p> {{ section.settings.custom_text_title3 }}</p>
                </div>

              </div>
          </div>
        </div>
        <div class="row arrow-img-row-mt">
        <div class="col-xs-12 col-sm-3">
                <div class="img-row-colom">
                  <img src="https://cdn.shopify.com/s/files/1/0562/5351/3789/files/Arrow_1.png?v=1645793503">
            </div>
          </div>
        </div>
      </div>

<!-- SECOND ROW -->
       <div class="col-lg-9 padding-cstm">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-2">
                <div class="our-process-inner-left what-guide-left-colom one">
                {{ ' Made_in_Vermont.svg' | asset_url | img_tag }}
            </div>
          </div>
               <div class="col-xs-12 col-sm-10">
              <div class="col-xs-12">
                <div class="our-process-inner-right what-guide-left-colom right-colom">
                 <h3> {{ section.settings.custom_text_title4 }}</h3>
              <p> {{ section.settings.custom_text_title5 }}</p>
                </div>

              </div>
          </div>
        </div>
        <div class="row arrow-img-row-mt">
        <div class="col-xs-12 col-sm-3">
                <div class="img-row-colom">
                  <img src="https://cdn.shopify.com/s/files/1/0562/5351/3789/files/Arrow_1.png?v=1645793503">
            </div>
          </div>
        </div>
      </div>



      <!-- SECOND ROW -->
       <div class="col-lg-9 padding-cstm">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-2">
                <div class="our-process-inner-left what-guide-left-colom two">
                {{ ' Extensive_Testing.svg' | asset_url | img_tag }}
            </div>
          </div>
             <div class="col-xs-12 col-sm-10">
              <div class="col-xs-12">
                <div class="our-process-inner-right what-guide-left-colom right-colom">
                 <h3> {{ section.settings.custom_text_title6 }}</h3>
              <p> {{ section.settings.custom_text_title7 }}</p>
                </div>

              </div>
          </div>
        </div>
        <div class="row arrow-img-row-mt">
        <div class="col-xs-12 col-sm-3">
                <div class="img-row-colom">
                  <img src="https://cdn.shopify.com/s/files/1/0562/5351/3789/files/Arrow_1.png?v=1645793503">
            </div>
          </div>
        </div>
      </div>



      <!-- SECOND ROW -->
       <div class="col-lg-9 padding-cstm">
        <div class="row align-items-center">
          <div class="col-xs-12 col-sm-2">
                <div class="our-process-inner-left what-guide-left-colom three">
               {{ ' Product_Safety.svg' | asset_url | img_tag }}
            </div>
          </div>
              <div class="col-xs-12 col-sm-10">
              <div class="col-xs-12">
                <div class="our-process-inner-right what-guide-left-colom right-colom">
               <h3> {{ section.settings.custom_text_title8 }}</h3>
              <p> {{ section.settings.custom_text_title9 }}</p>
                </div>

              </div>
          </div>
        </div>
        <div class="row arrow-img-row-mt">
        <div class="col-xs-12 col-sm-3">
                <div class="img-row-colom">
                  <img src="https://cdn.shopify.com/s/files/1/0562/5351/3789/files/Arrow_1.png?v=1645793503">
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>

{% schema %}
{
"name": "Our Process",
"settings": [
{
"id": "custom_heading_title",
"type": "text",
"label": "heading"
},
{
"id": "custom_text_title",
"type": "html",
"label": "text"
},
{
"id": "custom_text_title0",
"type": "html",
"label": "sub_text"
},


{
"id": "custom_text_title2",
"type": "text",
"label": "text1"
},
{
"id": "custom_text_title3",
"type": "html",
"label": "text3"
},


{
"id": "custom_text_title4",
"type": "text",
"label": "text4"
},
{
"id": "custom_text_title5",
"type": "html",
"label": "text5"
},



{
"id": "custom_text_title6",
"type": "text",
"label": "text6"
},
{
"id": "custom_text_title7",
"type": "html",
"label": "text7"
},




{
"id": "custom_text_title8",
"type": "text",
"label": "text8"
},
{
"id": "custom_text_title9",
"type": "html",
"label": "text9"
}


],

"blocks": [
{
"type": "select",
"name": "Add Button",
"settings": [





]
}
],


"presets": [
{
"name": "Our Process"
}
]
}
{% endschema %}

<style>

 @media screen and (max-width:1024px){
  .our_processh3_desk, .our_processh3_desk2{
  display:none !important;
  }
}
@media screen and (min-width:1024px){

  .processh3_mobile.pt-bottom {
    display: none !important;
}
  h3.our_processh3_desk2 {
    margin-bottom: 90px;
}

}
  .processh3_mobile.pt-bottom{
  font-size:18px !important;
  font-family: Social-Book !important;
  color: #022044 !important;
  font-style: normal !important;
  font-weight: 400  !important;
  line-height: 150%  !important;
}
</style>